<div class="container-fluid onglet">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" id="active" >Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Much longer nav link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>
<div class="container-fluid sales-full">

  <div class="row">

    <div class="col-md-4 columns list bord">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Options de recherche</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choisir ...</option>
          <option value="year">Par année</option>
          <option value="month">Par mois</option>
          <option value="between">Entre 2 dates</option>
        </select>
      </div>
      <!--<div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">
            <i class="material-icons">
              search
            </i>
          </span>
        </div>
        <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Recherche " name="search">
      </div>-->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>

    <div class="col-md-4 columns bord">

    </div>

    <div class="col-md-4 columns bord">

    </div>

  </div>
</div>
