<div class="container-fluid onglet">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link elt-1" (click)="GoToDailyBook('elt-1')">Point Journalier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link elt-2" (click)="GoToGeneralBook('elt-2')" id="active" >Vue Générale</a>
    </li>
    <li class="nav-item">
      <a class="nav-link elt-3" (click)="GoToSpecificBook('elt-3')">Vue Détaillée</a>
    </li>
  </ul>
</div>
<div class="container-fluid sales-full">

  <router-outlet name="child21"></router-outlet>

</div>
