a,h5,small,input,button,p, span {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-weight: 300;
}

input, select {
  border-radius: 0;
}



button {
  border-radius: 0;
  background-color: #ff817a;
  border-color: white;
}

h5 {
  font-weight: 700;
}

.bord {
  border: solid;
}

.no-bord {
  border: none;
}

.sales-full {

  margin: 0;
  height: 90vh;
}

.columns {
  /* height: 100px; */
}

.list {
  height: 90vh;
  overflow: scroll;
  padding: 1.5rem;
}

.onglet {
  border-bottom: solid 1px #aaaa;
  margin-bottom: 1rem;
}


.active {
  background-color: #ff817a;
}

.nav-link {
  color: black;
}

#active {
  background-color: #ff817a;
  color: white;
}

.onglet {
  padding: 0.5rem;
}

.click {
  background-color: #fcf2f1;
}


.card-detail {
  margin-top: 2rem;
}

.card-all-detail {
  height: 90vh;
  overflow: scroll;
  padding: 1rem;
}

.line:active {
  background-color: #fcf2f1;
  animation: 12;
}
