a,h5,small,input,button,p, h4, span, h2, div, table {
    font-family: 'Quicksand', sans-serif;
  }
  
  p {
    font-weight: 300;
  }
  
  input {
    border-radius: 0;
  }
  
  button {
    border-radius: 0;
  }
  
  h4 {
    font-weight: 700;
    text-decoration: underline;
  }
  
  .bord {
    border: solid;
  }
  
  button {
    border-radius: 0;
    background-color: #ff817a;
    border-color: white;
  }
  
  .table-state {
    padding: 2rem;
    margin-bottom: 3rem;
  }
  
  .full-container {}
  
  .all-state {
    height: calc(100%);
    overflow-y: auto;
  }
  

  .banner-title {
      /*border: solid 1px;*/
  }

  .banner-title-2 {
      width: 50%;
      height: 50px;
      margin-top: 2rem;
      padding: 0.5rem;
      border: solid 1px;
  }

  .horizontal {

  }

  .circle {
      border: solid 1px;
      border-radius: 100%;
      font-weight:bold;
  }

  .content {
    /*height: 800px;
    overflow: scroll;*/
  }