<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Caisse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="width: 80%;">
      <form class="form-inline my-2 my-lg-0" style="width: 70%;">
        <input class="form-control mr-sm-2 ml-5" type="search" placeholder="Recherche ..." aria-label="Search" style="width: 70%;">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Scan code</button>
      </form>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="material-icons text-primary">
            signal_wifi_4_bar
          </i>
           <small>Hors Connexion</small>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="material-icons text-primary">
            refresh
          </i>
          <small>Rafraichir</small>
        </a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <div class="avatar">
        <img src="https://image.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg" width="100%" height="100%" alt="">
      </div>
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->

      <h5 class="avatar-name">Mohamed Zidane</h5>
      <a class="avatar-profile" href="">
        <small>
          <i class="material-icons">perm_identity</i>
          Voir Profil
        </small>
      </a>
    </div>


  </div>
</nav>
