.bord {
  border: solid;
}

a,h5,small,input,button,p, table, label, li {
  font-family: 'Quicksand', sans-serif;
}

.table {
  height: 600px;
  overflow-y: scroll;
}

button {
  border-radius: 0;
}

.btn-2 {
  border-radius: 0;
  background-color: #ff817a;
  border-color: white;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #ff817a !important;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
