<div class="container-fluid payment-fullcontent">
    <div class="card-title">
        <h1>Paiement</h1>
        <hr>
    </div>

    <div class="card-customer" *ngIf="customer">
        <h1>{{ customer.name }}</h1>
        <div class="card-detail-customer">
            <p class="mb-1">
                <i class="iii material-icons">
                  call
                </i> &nbsp;
                {{ customer.tel }}
            </p>
            <span>
                <i class="iii material-icons">
                  mail
                </i> &nbsp;
                {{ customer.email }}
            </span>
        </div>
    </div>

    <div class="card-payment">
        
        <div class="row">

            <div class="col-md-2">
                <!-- List group -->
                <div class="list-group" id="myList" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Paiement Cash</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Paiement Soutrali</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Paiement Visa</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Paiement Mobile Money</a>
                </div>
  
            </div>

            <div class="col-md-10">
                <!-- Content group -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">

                        <div class="row cash">
                            <div class="col-md-6 data-payment">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p class="price" *ngIf="!Total">0 Fcfa</p>
                                        <p class="price" *ngIf="Total">{{ Total }} Fcfa</p>
                                        <small class="desc">Total</small>
                                    </li>
                                    <li class="list-group-item">
                                        <p class="price" *ngIf="SumCustomer">{{ SumCustomer }} Fcfa</p>
                                        <p class="price" *ngIf="!SumCustomer">0 Fcfa</p>
                                        <small class="desc">Reçu du client</small>
                                    </li>
                                    <li class="list-group-item">
                                        <p class="price" *ngIf="exchange">{{ exchange}} Fcfa</p>
                                        <p class="price" *ngIf="!exchange">0 Fcfa</p>
                                        <small class="desc">Echange (monnaie)</small>
                                    </li>                                    
                                  </ul>
                            </div>
                            <div class="col-md-6 calculator" align="center">

                                <div class="row plaque">
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="1">1</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="2">2</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="3">3</button>
                                    </div>
                                </div>
                                <div class="row plaque">
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="4">4</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="5">5</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="6">6</button>
                                    </div>
                                </div>
                                <div class="row plaque">
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="7">7</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="8">8</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="9">9</button>
                                    </div>
                                </div>
                                <div class="row plaque">
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id=".">.</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="0">0</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-secondary btn-block cal" data-id="eff">C</button>
                                    </div>
                                </div>

                                <button class="btn btn-primary btn-lg mt-5" style="width: 60%;">Confirmer</button>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel">
                        2
                    </div>
                    <div class="tab-pane" id="messages" role="tabpanel">

                        <div class="visa">
                            <div class="card" align="center">
                                <div class="card-body">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <p>Total à payer</p>
                                      </div>
                                      <div class="col-md-6">
                                        <p class="price" *ngIf="!Total">0 Fcfa</p>
                                        <p class="price" *ngIf="Total">{{ Total }} Fcfa</p>
                                      </div>
                                  </div>
                                </div>                                
                              </div>
                              <div class="row mt-3">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Choisir la banque</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                          <option>SGBCI</option>
                                          <option>Ecobank</option>                                          
                                        </select>
                                      </div>                                    
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Somme Reçu du client</label>
                                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer la somme reçue">
                                    </div>
                                  </div>
                              </div>
                              <button class="btn btn-primary btn-lg mt-5" style="width: 100%;">Confirmer</button>
                        </div>

                    </div>
                    <div class="tab-pane" id="settings" role="tabpanel">

                        <div class="visa">
                            <div class="card" align="center">
                                <div class="card-body">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <p>Total à payer</p>
                                      </div>
                                      <div class="col-md-6">
                                        <p class="price" *ngIf="!Total">0 Fcfa</p>
                                        <p class="price" *ngIf="Total">{{ Total }} Fcfa</p>
                                      </div>
                                  </div>
                                </div>                                
                              </div>
                              <div class="row mt-3">
                                  <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Choisir le service de mobile money</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                          <option>MTN Money</option>
                                          <option>Orange Money</option>
                                          <option>Moov Money</option>                                          
                                        </select>
                                      </div>                                    
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Numéro du client</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer le numéro du client" value="+225 ">
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Somme Reçu du client</label>
                                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer la somme reçue">
                                    </div>
                                  </div>
                              </div>
                              <button class="btn btn-primary btn-lg mt-5" style="width: 100%;">Confirmer</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>