a,h5,small,input,button,p {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-weight: 300;
}

input {
  border-radius: 0;
}

button {
  border-radius: 0;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #007bff !important;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.bord {
  border: solid;
}

.customer-container {
  height: 90vh;
}

.customer-list {
  padding: 1rem;
}

.iii {
  font-size: 14px;
}

.customer-detail {
}

.list {
  height: 85%;
  overflow: scroll;
  overflow-x: hidden;
}

.footer {
  position: relative;
  top: 270px;
  justify-content: center;
  align-items: center;

}


.footer > button > i {
  position: relative;
  top: 5px;
}

.detail {
  transform: translateY(70%);
}


.error {
  position: absolute;
  transform: translateY(200%);
}

.bar {
  margin-bottom: 2rem;
  width: 100%;
}
