a,h5,small,input,button,p {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-weight: 300;
}

input {
  border-radius: 0;
}

button {
  border-radius: 0;
}

.bord {
  border: solid;
}

button {
  border-radius: 0;
  background-color: #ff817a;
  border-color: white;
}


